// LIGHT THEME
:root {
  --color-background: #eeeeee;
  --color-content-background: #FFFFFF;
  --color-accent: #ffc107;
  --color-content: #000000;
  --content-max-width: 722px;
}

// DARK THEME
:root {
  --color-background: #424242;
  --color-content-background: #616161;
  --color-accent: #f9a825;
  --color-content: #FAFAFA;
  --content-max-width: 722px;
}

// GLOBAL
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-background);
  color: var(--color-content);
}

#app, main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

// Mixins

@mixin hasMainLayoutBoundary() {
  width: 100%;
  max-width: var(--content-max-width);
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
}

@mixin card() {
  border-radius: 8px;
  background-color: var(--color-content-background);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

// HEADER
.app-header {
  width: 100%;
  height: 128px;
  position: fixed;
  display: flex;
  align-items: center;
  .app-header--content {
    @include hasMainLayoutBoundary();
  }
}

.app-name {
  width: 100%;
  height: 56px;
  line-height: 56px;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  font-family: cursive;
}

// CONTENT
.app-content {
  height: 100vh;
  overflow-y: auto;
  .app-content--content {
    @include hasMainLayoutBoundary();
    margin-top: 128px;
    margin-bottom: 128px;
  }
}

.note-list {
  position: relative;
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
  grid-auto-rows: 40px;
}

$cardOpacityTransitionDuration: 0.2s;
.note {
  @include card();
  grid-row-end: span 4;
  display: inline-block;
  width: 100%;
  height: 100%;
  transition-property: opacity, transform;
  transition-duration: $cardOpacityTransitionDuration;
  transition-timing-function: ease-in-out;
  transform: translate3d(0, 0, 0);
  &.selected {
    //background-color: #eeeeee;
  }
  &.not-selected {
    opacity: 0;
  }
}

.overlay-note {
  @include card();
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 0;
  max-height: 0;
  background-color: white;
  transition-property: opacity;
  transition-duration: $cardOpacityTransitionDuration;
  transition-timing-function: ease-in-out;
  &.hide {
    opacity: 0;
  }
  &.gone {
    visibility: hidden;
  }
  &.no-transition {
    transition-duration: 0s;
  }
}


// ACTIONS
.app-actions {
  width: 100%;
  height: 64px;
  position: fixed;
  bottom: 32px;
  .app-actions--content {
    @include hasMainLayoutBoundary();
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    .action {
      margin-left: 16px;
      box-shadow: 4px 6px 6px rgba(0, 0, 0, 0.15);
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      &:first-of-type {
        margin-left: 0;
      }
    }
  }
}



.action {
  &.action-button {
    width: 56px;
    height: 56px;
    border-radius: 28px;
    background-color: var(--color-accent);
  }
  &.action-bar {
    width: 100%;
    height: 56px;
    border-radius: 8px;
    background-color: var(--color-accent);
  }
}
